<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>Sign up</h1>
    @if (registrationFailed()) {
      <div class="alert alert-danger" role="alert">Try again with another login.</div>
    }

    <form [formRoot]="userForm">
      <div class="mb-3">
        <label for="login" class="form-label">Login</label>
        <input id="login" class="form-control" [formField]="userForm.login" />
        <!-- error message here -->
        @let login = userForm.login();
        @if (login.touched() && login.invalid()) {
          @if (login.getError('required')) {
            <div class="invalid-feedback">Login is required</div>
          }
          @if (login.getError('minLength')) {
            <div class="invalid-feedback">Your login should be at least 3 characters</div>
          }
        }
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input id="password" type="password" class="form-control" [formField]="userForm.password" />
        <!-- error message here -->
        @let password = userForm.password();
        @if (password.touched() && password.invalid()) {
          @if (password.getError('required')) {
            <div class="invalid-feedback">Password is required</div>
          }
        }
      </div>

      <div class="mb-3">
        <label for="confirm" class="form-label">Confirm password</label>
        <input id="confirm" type="password" class="form-control" [formField]="userForm.confirmPassword" />
        <!-- error message here -->
        @let confirmPassword = userForm.confirmPassword();
        @if (confirmPassword.touched() && confirmPassword.invalid()) {
          @if (confirmPassword.getError('required')) {
            <div class="invalid-feedback">Password confirmation is required</div>
          }
          @if (confirmPassword.getError('matchingError')) {
            <div class="invalid-feedback">Your password does not match</div>
          }
        }
      </div>

      <div class="mb-3">
        <label for="birth-year" class="form-label">Birth year</label>
        <input id="birth-year" type="number" class="form-control" [formField]="userForm.birthYear" />
        <!-- error message here -->
        @let birthYear = userForm.birthYear();
        @if (birthYear.touched() && birthYear.invalid()) {
          @if (birthYear.getError('required')) {
            <div class="invalid-feedback">Birth year is required</div>
          }
          @if (birthYear.getError('min') || birthYear.getError('max')) {
            <div class="invalid-feedback">This is not a valid year</div>
          }
        }
      </div>

      <!-- <button class="btn btn-primary" type="submit" [disabled]="!userForm().valid()">Let's go!</button> -->
      <button class="btn btn-primary" type="submit">Let's go!</button>
    </form>
  </div>
</div>
