<!-- @for (race of racesResource.value(); track race.id) {
  <div>
    <pr-race [raceModel]="race" />
  </div>
} -->
@if (racesResource.isLoading()) {
  <button class="btn btn-primary" type="button" disabled>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Loading...
  </button>
} @else if (racesResource.hasValue()) {
  <ul>
    @for (race of racesResource.value(); track race.id) {
      <div>
        <pr-race [raceModel]="race" />
      </div>
    }
  </ul>
} @else if (racesResource.error()) {
  <div class="alert alert-danger" role="alert">An error occurred while loading races.</div>
}
